<h1 class='center'>Users</h1>

<%= render 'layouts/nav' %>

<% @users.each do |user| %>
  <div class='user-box'>
    <%= link_to user.username, user_path(user) %><br>
    <%= user.location %>
  </div>
<% end %>
