/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

.container {
  padding: 0px 80px;
}

#header {
  background-color: grey;
  color: #2E3D4C;
  font-family: courier;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
}

#header ul{
  list-style-type: none;
}

#header ul li{
  display: inline-block;
  margin-left: 2%;
}

#home-page-link{
  float: left;
  margin-right: 50%
}

.logo_bar{
  margin-top: -15px;
  color: #6ED32F;
}

.main_logo{
  margin-left: -240px;
  float: left;
  padding-top: 10px;
}

.title_bar{
  font-size: 250%%;
  display: inline-block;
  margin-top: 48px;
  margin-left: -190px;
  padding-top: 10px;
}

#header a {
  text-decoration: none;
  color: #6ED32F;
}

.flash p{
  color: red;
}

.short-column {
  width: 5%;
  background-color: grey;
  color: #6ED32F;
}

.long-column {
  width: 30%;
  background-color: grey;
}

.long-column a {
  text-decoration: none;
  color: #6ED32F;
}

.long-column a:hover {
  color: #FFB2FF;
}

.center {
  text-align: center;
}


.center_main {
  width: 500px;
  margin: 0 auto auto;
}

.data {
  font-size: 20px;
}

th {
  border: 1px solid black;
  margin: 0px;
}


#nav {
  text-align: center;
}

#nav a {
  text-decoration: none;
  width: 200px;
  background-color: grey;
  padding: 5px 20px;
  text-align: center;
  color: white;
  font-family: courier;
}

.q-title a {
  text-decoration: none;
  font-family: courier;
  font-size: 20px;
  color: #990000;
}


<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>



