// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.question_header {
  text-align: center;
}

#question_title {
  width: 200px;
  height: 50px;
}

#question_content {
  width: 500px;
  height: 100px;
}

.question-form {
  text-align: center
}

.field {
  margin: 20px;
}

.field label {
  color: purple;
  font-weight: bold;
}

#question_tags {

}
